<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>PHP| MySQL | Vue.js | Axios Example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet" type="text/css"/>

  <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <link href="styles.css" rel="stylesheet" type="text/css"/>


</head>
<body>

<template id="bs-modal">
  <!-- MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>


<div id='vueapp'>
    START:
<!--  <b-modal id="modalOne">Hello Modal One</b-modal>-->
<!--  <b-modal id="modaltwo">Hello Modal Two</b-modal>-->

  <b-modal id="parrentModal">Hello s Modal Two</b-modal>
  <b-modal id="childModal">Hello care {{ModalProps.firstname}} Two</b-modal>


  <table border='1' style='border-collapse: collapse;' width='100%'>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>City</th>
            <th>Job</th>
        </tr>

        <tr v-for='library in libraries'>
            <td>{{ library.name }}</td>
            <td>{{ library.establishDate }}</td>
        </tr>
    </table>

    <div>
      <b-button v-b-modal.modaltwo>Modaltwo</b-button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Modal</button>
        <b-button v-b-toggle.collapse-1 variant="primary">Show data</b-button>

      <img @click="addParentRow()"
           alt='edit-icon' src="https://dyo.isecrets.se/images/zoom-in.svg"
           style="width:30px; height: 30px;margin-right: auto;"/>

        <b-collapse class="mt-2" id="collapse-1">
            <b-card :key="library.id" v-for="library in libraries ">
                <p class="card-text" style= "display: inline" >Category {{library.name}}</p>
                <b-button size="sm"
                          v-b-toggle="['collapse-' + library.id +'-inner']">Expand
                </b-button>
                <div style="display:inline;">
                  <img :data-id="library.id"
                       @click="addChildRow(library.id)"
                       alt='edit-icon' src="https://dyo.isecrets.se/images/zoom-in.svg"
                       style="width:30px; height: 30px;margin-right: auto;"/>


                  <img :data-id="library.id"
                         v-b-modal="'parrentModal'"
                         click="sendPropsToModal(library.id)"
                         alt='edit-icon' src="https://dyo.isecrets.se/images/edit100px.svg"
                         style="width:30px; height: 30px;margin-right: auto;"/>

                    <img :data-id="library.id"
                         @click="removeParentRow(library.id)"
                         alt='edit-icon' src="https://dyo.isecrets.se/images/trashicon.svg"
                         style="width:30px; height: 30px;margin-right: auto;"
                    />
                </div>


                <b-collapse :id="'collapse-' + library.id +'-inner'" :key="index"
                            class="mt-2" style="flex-direction: row" v-for='(book,index) in library.books'>
                    <b-card class='collapse-1-inner-child-row'>
                        <div style="display: inline">
                            {{ book.name }}
                        </div>
                        <div style="display:inline;">
                            <img :data-id="book.id"
                                 :data-my-amazing-custom-attribute="book"
                                 v-b-modal="'childModal'"
                                 @click="sendPropsToModal(book)"
                                 alt='edit-icon' src="https://dyo.isecrets.se/images/edit100px.svg"
                                 style="width:30px; height: 30px;margin-right: auto;"/>

                            <img :data-id="book.id"
                                 :data-my-amazing-custom-attribute="book"
                                 @click="removeChildRow(book.id, index)"
                                 alt='edit-icon' src="https://dyo.isecrets.se/images/trashicon.svg"
                                 style="width:30px; height: 30px;margin-right: auto;"
                            />
                        </div>
                    </b-card>

                </b-collapse>
            </b-card>
        </b-collapse>
    </div>
  <modal></modal>
</div>

<script>
  var modal = Vue.component('modal', {
    template: '#bs-modal',
  });

    var app = new Vue({
        el: '#vueapp',
      components: {
        modal: modal
      },
        data: {
            name: '',
            email: '',
            country: '',
            city: '',
            job: '',
            libraries: [],
            numIt: 2,
            ModalProps: ''
        },
        mounted: function () {
            this.getlibraries()
        },

        methods: {
            getlibraries: function () {
                axios.get('/api/library/index')
                    .then(function (response) {
                        console.log(response.data);
                        app.libraries = response.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            createlibrary: function () {
            },
            resetForm: function () {
            },
            sendPropsToModal(item) {
              console.log(item);
              this.ModalProps = item;
            },
            addChildRow: function (c) {
                console.log(JSON.stringify(c));
                // console.log(event.target.dataset);
                // console.log('ID:', event.target.dataset.id);
                // console.log('Name:', event.target.dataset.myAmazingCustomAttribute);
            },
            editChildRow: function (c) {
                console.log(JSON.stringify(c));
                // console.log(event.target.dataset);
                // console.log('ID:', event.target.dataset.id);
                // console.log('Name:', event.target.dataset.myAmazingCustomAttribute);
            },

            removeChildRow: function (id, index) {
                console.log(frontend);
                console.log(id);
                app.libraries.splice(frontend, 1)
                // console.log(event.target.dataset);
                // console.log('ID:', event.target.dataset.id);
                // console.log('Name:', event.target.dataset.myAmazingCustomAttribute);
                // axios.delete('api/DeletePersonTest.php', {
                //     // headers: {
                //     //   Authorization: authorizationToken
                //     // },
                //     data: {
                //         Id: event.target.dataset.id
                //     }
                // }).then(function (response) {
                //     console.log(response.data);
                // })
                //     .catch(function (error) {
                //         console.log(error);
                //     });
            }
        }
    });

</script>


</body>
</html>